<footer class="container-wrapper base-300 py-4 mt-5 gradient-subtle-base-300">
  <div class="container">
    <div class="max-w-4 flex flex-col gap-3">
      <h2 class="text-5 font-display font-bold">{{ site.title | escape }}</h2>
      <p class="text-3 opacity-6">{{- site.description | escape -}}</p>
      <p class="text-2">
        <a href="{{ "/feed.xml" | relative_url }}" class="font-display">Subscribe via RSS</a>
      </p>
      <p class="text-1 opacity-4 mt-2">© {{ 'now' | date: "%Y" }} {{ site.title }}</p>
    </div>
  </div>
</footer>
