@use "sass:map";
@use "sass:color";
@import "variables";

$breakpoints: (
    sm: (
        min: 0px,
        max: 767px
    ),
    md: (
        min: 768px,
        max: 1023px
    ),
    lg: (
        min: 1024px,
        max: 1279px
    ),
    xl: (
        min: 1280px,
        max: 9999px
    )
);

// Mixin for media queries
@mixin for-media($breakpoint) {
    $config: map.get($breakpoints, $breakpoint);
    // if config is not found, throw an error
    @if not $config {
        @error "Breakpoint '#{$breakpoint}' not found in $breakpoints";
    }

    $min: map.get($config, min);
    $max: map.get($config, max);

    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// Gradient Mixins
@mixin subtle-gradient($base-color, $intensity: 5%) {
  $lighter: color.scale($base-color, $lightness: $intensity);
  $darker: color.scale($base-color, $lightness: -$intensity);
  background: linear-gradient(to bottom, $lighter, $base-color, $darker);
}

@mixin subtle-radial-gradient($base-color, $intensity: 5%) {
  $lighter: color.scale($base-color, $lightness: $intensity);
  background: radial-gradient(circle at center, $lighter, $base-color);
}

@mixin accent-gradient($direction: 135deg) {
  background: linear-gradient($direction, var(--color-accent-100), var(--color-base-300-bg));
}

@mixin glass-effect($base-color, $opacity: 0.9, $blur: 10px) {
  background-color: color.change($base-color, $alpha: $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}
