@import "variables";
@import "typography";
@import "monarch-utils";
@import "_mixins";

@layer components {
  .link {
    // text-decoration: underline;
    text-decoration: none;
    color: rgb(175, 118, 192);
    @extend .font-display;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    color: var(--color-accent-200);

    &:visited {
      opacity: 0.8;
      color: var(--color-accent-100);
    }

    &:hover {
      text-decoration-style: dashed;
    }
  }

  .cursor-pointer { cursor: pointer; }
  .cursor-default { cursor: default; }
  .cursor-not-allowed { cursor: not-allowed; }

  .btn {
    @extend .radius-2;
    @extend .px-2;
    @extend .py-1;
    cursor: pointer;
  }

  // --------------------- Container ---------------------

  // padding-left: 100px;
  $content-sizes: (
    sm: (container-width: 700px,  padding: 10px),
    md: (container-width: 800px,  padding: 0),
    lg: (container-width: 800px,  padding: 0),
    xl: (container-width: 800px,  padding: 0)
  );

  // this is a top-level container class that can be used to wrap a component.
  // the component will then be sized in a way that is consistent with the rest of the app.
  @each $size-key, $size-value in $content-sizes {
    $padding: map-get($size-value, padding);
    $container-width: map-get($size-value, container-width);

    @include for-media($size-key) {
      .container-wrapper {
        width: 100%;

        .container {
          width: 100%;
          margin: auto;
          max-width: $container-width;
          padding-left: $padding;
          padding-right: $padding;
        }
      }
    }
  }
}