@import "variables";
@import "monarch-utils";

@layer components {
  .link {
    text-decoration: underline;

    &:visited {
      opacity: 0.8
    }

    &:hover {
      text-decoration: none;
    }
  }

  .btn {
    @extend .radius-2;
    @extend .px-2;
    @extend .py-1;
    cursor: pointer;
  }

  // this is a top-level container class that can be used to wrap a component.
  // the component will then be sized in a way that is consistent with the rest of the app.
  .container {
    @extend .px-4;
  }
}