---
layout: default
---

<article class="futurism-post">
  <header class="flex flex-col gap-3 pb-4 mb-4" style="border-bottom: 1px solid var(--color-base-300-bg);">
    <h1 class="header-1">🔮 {{page.title | escape}}</h1>
    <div class="flex space-between items-center">
      <time class="font-display" datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="text-3 font-display opacity-5">{{ page.date | date: date_format }}</span>
      </time>
      
      {%- if page.author -%}
      <span class="font-display text-4">{{page.author}}</span>
      {%- endif -%}
      
      <span class="futurism-badge">🔮 Futurism</span>
    </div>
  </header>

  <div class="markdown">
    {%- if page.toc -%}
      <details class="mb-4">
        <summary class="btn btn-accent-200 cursor-pointer">
          Table of Contents
        </summary>
        <div class="pt-4 pb-2 pl-4 border-l-2" style="border-left: 2px solid var(--color-accent-200); margin-top: 1rem;">
          {% toc %}
        </div>
      </details>
    {%- endif -%}
    {{ content }}
    
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>

  <!-- mermaid -->
  <script src="https://unpkg.com/mermaid@8.9.3/dist/mermaid.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', () => {
          mermaid.initialize({
              startOnLoad:true,
              theme: "default",
          });
          window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
      });
  </script>
</article>
