---
layout: default
---

<article>
  <header class="flex flex-col gap-2 pb-2">
    <h1 class="header-1">{{page.title | escape}}</h1>
    <time class="font-display flex flex-row space-between" datetime="{{ page.date | date_to_xmlschema }}">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="text-3 font-display">{{ page.date | date: date_format }}</span>
    </time>
    <p>

      {%- if page.author -%}
      <span>{{page.author}}</span>
      {%- endif -%}
    </p>
  </header>

  <div class="markdown">
    {%- if page.toc -%}
      <details>
        <summary class="btn btn-accent-200">
          Click to see table of contents
        </summary>
        <div class="pt-4 pb-2">
          {% toc %}
        </div>
      </details>
    {%- endif -%}
    {{ content }}
    
  </div>

  <!-- {# I could add links to various discussions here (i.e. Reddit, Hacker News, etc). I could specify these in the post's
  frontmatter #} -->

  <a href="{{ page.url | relative_url }}" hidden></a>

  <!-- mermaid -->
  <script src="https://unpkg.com/mermaid@8.9.3/dist/mermaid.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', () => {
          mermaid.initialize({
              startOnLoad:true,
              theme: "default",
          });
          window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
      });
  </script>

</article>